{# Validate data model information #}
{% for lb in infrastructure %}
LB {{lb.name}}
Interface {{lb.interface}} Vlan {{lb.vlan}}
Subnet {{ lb.subnet|ipaddr('network') }}
Mask {{lb.subnet|ipaddr('prefix')}}
SelfIP {{ lb.subnet | ipaddr('1') | ipaddr('address') }}  
{% for svc in services %}
service {{svc.name}} VIP {{ lb.subnet | ipaddr(svc.vip) | ipaddr('address') }} Protocol {{svc.protocol}}
{% for nodes in svc.nodes %}
Node {{ lb.subnet | ipaddr(nodes) | ipaddr('address') }}
{% endfor %}
{% endfor %}
{% endfor %}
